#content {
    width: 800px;
    height: 310px;
    background-color: yellowgreen;
    margin: 0 auto;
}

#heading {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 0;
    color: white;
}

.names {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#app {
    background-color: white;
    width: 720px;
    margin: 0 auto;
    height: 200px;
    padding: 10px;
}

#app table{
    margin: 0 auto;
}

.totals {
    background-color: lightgrey;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(63, 63, 63);
}

#totals {
    padding-right: 10px;
    font-weight: 500;
}

.new {
    padding: 10px 0;
}

.inputing {
    border: none;
    text-decoration: underline;
    text-decoration-color: gray;
    padding-left: 10px;
    width: 120px;
}